* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::-webkit-input-placeholder {
	color: #969696;
	opacity: 1;
}

*:-moz-placeholder {
	color: #969696;
	opacity: 1;
}

*::-moz-placeholder {
	color: #969696;
	opacity: 1;
}

*:-ms-input-placeholder {
	color: #969696;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	color: #969696;
}
body input:required:valid,
body textarea:required:valid{
	color: #969696;
}
* {
	margin: 0;
	padding: 0;
}
a, a:hover, a:active, a:visited {
  text-decoration: none;
}
input {
  outline: none;
}



.container {
  width: 1170px;
  margin: 0 auto;
}


.clearfix {
  overflow: hidden;
  clear: both;
}
