

/*==========  Desktop First  ==========*/

@media only screen and (max-width : 1200px){

}

@media only screen and (max-width : 991px){

}

@media only screen and (max-width : 768px){

  .header-top {
    width: 100%;
    height: 60px;
    padding:  20px 0;
    margin: 0  auto;
  }

  .contacts  {
    display: none;
  }

  .dropmenu {
    display: none;
    position: absolute;
    top: 13%;
    left: 48%;
    ul {
      width: auto;
      display: block;
        li {
          //margin-right: 35px;
          position: relative;
          width: auto;
          justify-content: center;
          margin: 5px 0;
          &:hover {
            //&:before {
            //  border: 1px solid #ff9b2f;
            //  width: 100%;
            //}
            &:after {
              border: 5px solid #ff9b2f;
              width: 100%;
              filter: blur(10px);
              border-radius: 100%;
            }
          }
          &:before {
            position: absolute;
            content: '';
            border-top: none;
            transition: border-top 0.3s;

          }
          &:after {
            position: absolute;
            content: '';
            border-top: none;
            transition: border-top 0.3s;
            top:-3px;
          }
        }

    }
    &.active {
      display: block;
    }
  }
    #nav-icon1  {
      width: 60px;
      height: 45px;
      position: relative;
      margin: auto 20px;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer;
    }

    #nav-icon1 span {
      display: block;
      position: absolute;
      height: 3px;
      background: #ffffff;
      border-radius: 0;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
    }

    #nav-icon1 span:nth-child(1) {
      top: 14px;
      width: 34px;
      right:0;
    }

    #nav-icon1 span:nth-child(2) {
      top: 22px;
      width: 21px;
      left: 13px;
    }

    #nav-icon1 span:nth-child(3) {
      top: 29px;
      width: 29px;
      left: 5px;
    }

    #nav-icon1.open span:nth-child(1) {
      top: 18px;
      width: 100%;
      left: 0;
      transform: rotate(135deg);
    }

    #nav-icon1.open span:nth-child(2) {
      opacity: 0;
      left: -60px;
    }

    #nav-icon1.open span:nth-child(3) {
      top: 18px;
      width: 100%;
      left:0;
      transform: rotate(-135deg);
    }


  .menutop {
    ul {
      display: none;
    }
  }


  .header {
    height: auto;

  }
  .container-head {
    width: 90%;
    text-align: left;
    margin: auto;
  }

  h1 {
    margin: auto;
    font-size: 30px;
    padding-top: 110px;
  }
  .headertext {
    font-size: 17px;
  }
  .btn2 {
    text-align: left;
    margin: 35px 0;
  }

  .bluetext {
    display: none;
  }
  .watchwork {
    margin: 65px auto;
    width: 90%;
    text-align: left;

  }

  .menu {
    display: none;
  }

  .container-content {
    width: 100%;
    margin-top: 70px;
  }
  .experinblock {
    height: auto;
    overflow: hidden;
    justify-content: center;
    margin-bottom: 30px;
  }

  .expertsintext {
    width: 35%;
    &:nth-child(3){
      order: 2;
    }
    &:nth-child(4){
      order: 0;
    }
    &:nth-child(5){
      order: 3;
    }
    &:nth-child(6){
       order: 4;
    }
    &:nth-child(7){
       order: 6;
    }
    &:nth-child(8){
      order: 5;
    }
  }
  #clicktoview {
    display: block;
    color: #6f7c8d;
    text-align: center;
  }

  .block3 {
    height: auto;
    &:before {
      background: none;
      width: 0;
    }
  }

  .part3 {
    width: 100%;
    justify-content: space-around;
    padding-bottom: 55px;

.wecareabout {
  margin: 60px auto 30px;
  h2 {
    font-size: 28px;
  }
  .headertext {
    font-size: 18px;
  }
}
  .prizes {
    background: none;
    height: auto;
    width: 90%;
    transform: skewX(0deg);
    flex-flow: row wrap;
    justify-content: space-between;
    margin-right: 0;
    img {
      transform: skewX(0deg);
    }
  }
 }

  .weoffer {
    h2 {
      width: 100%;
    }
    p {
      display: none;
    }
  }



  .grey {
    height: auto;
    .container-content {
      width: 100%;
    }
    h2 {
      padding-top: 60px;
      margin-bottom: 0;
    }
    .viewall {
      margin-right: 20px;
    }
  }



  table{
    width: 90%;
    margin: auto;
    tr{
      margin: 0 20px 0 0;
      text-align: left;


      &:first-child {
        th {
          font-size: 16px;
          width: 20%;
          padding: 0;
          text-align: left;
          &:first-child {
            padding: 0;
            text-align: left;
          }
          &:nth-child(2) {
            padding: 0;
          }
      }
      }
      th {
        text-align: left;
      }
      td {
        font-size: 16px;
        width: 20%;
        height: auto;
        text-align: left;
        margin: 0 20px 0 0;
        &:first-child {
          width: 20%;
          padding-left: 0;
        }
        &:nth-child(2) {
          width: 20%;
        }
      }
    }
  }

  .block4{
    &:before {
      background: none;
    }


    .part4 {
      width: 100%;
      padding: 60px 0 50px;
      margin-top: 0;
      .btn2 {
        margin: 30px auto;
      }
    }
  }


  .part5 {
    margin-top: 0;
  }
.aboutshipserv {
  flex-flow: row wrap;
  width: 100%;


  P {
    margin: auto;
    width:90%;
  }

}
.clientpreference {
  width: 100%;
  margin: auto;
  padding: 0;
  justify-content: space-around;
  .aboutpref {
    width: auto;
    text-align: left;
    margin: auto;
    p {
      display: none;
    }
  }

}
.reviews {
  .customerinfo {
    margin-left: 0;
  }
  .reviewinfo{
  .triangle {
    top: 96%;
    &:before {
      top: -14px;
    }
  }
  }
}

  .part6 {
    margin-top: 0;
  }
.grey {
  padding-bottom: 60px;
}

  .container-expirience {
    width: 100%;
    height: auto;
    display: block;
    padding-top: 60px;
  }

.textanimblock {
  width: 90%;
  margin: auto;
}


  .container-foot {
    width: 100%;
    flex-flow: column wrap;
  }

  .logoblock {
    width: 100%;
    margin-top: 50px;
   justify-content: center;

    p {
      display: none;
    }
  }

  .footermenu {
    width: 100%;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 0;
  }
.container-dark {
  width: 90%;
  height: auto;
  }
}

@media only screen and (max-width : 480px){
  .logo {
    margin: auto 20px ;
  }

  .expertsintext {
    width: 80%;
    &:nth-child(3){
      order: 1;
    }
    &:nth-child(4){
      display: none;
    }
    order: 0;
  }

  .review {
      width: 60%;
      margin: 0 auto;
    .reviewscustomer {
      width: 100px;
    }

    &:nth-child(2) {
      .reviewinfo {
        display: none;
      }
      .customerinfo {
        display: none;
      }
    }

      &:nth-child(3) {
      .reviewinfo {
        display: none;
      }
        .customerinfo {
          display: none;
        }

    }
  }
  .block4 {
    &:before{
      width: 100%;
    }
  }

  .viewall {
    display:none;
  }

  table{
    tr{
      th {
        transform: rotate(-45deg);
      }
    }
  }




.logo {
  margin: auto 0 auto 20px;
}

.dropmenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: rgba(43, 47, 52, 0.6);
}

.footernav {
  width: 40%;
}
.container-dark {
  flex-flow: column wrap;

 span {
   width: 100%;
   order:2;
   justify-content: center;
 }
  a {
    width: 100%;
    order:1;
    justify-content: center;
  }
}
}


@media only screen and (max-width : 320px) {
}


/*==========  Mobile First  ==========*/


@media only screen and (min-width : 320px){

}

@media only screen and (min-width : 480px){

}

@media only screen and (min-width : 768px){

}

@media only screen and (min-width : 992px){

}

@media only screen and (min-width : 1200px){

}
