@import "_default.scss";

*{
  h1 {
    font-family: 'Lato-Black', SansSerif;
    font-weight: normal;
    font-size: 65px;
    color: #ffffff;
    margin: 0;
    padding: 0;

  }

  h4 {
    font-family: 'Lato-Black', SansSerif;
    font-size: 20px;
    color: #ffffff;
  }
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: flex;
    }
  }
  a {
    display: flex;
    font-family: 'Lato-Medium', SansSerif;
    font-size: 17px;
    font-weight: normal;
    color: #ffffff;
    text-decoration: none;
  }
  .btn {
    display: block;
    padding: 12px 26px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin: auto 30px;
    transition: all 0.3s;
    &:hover {
      background-color:#2cbff5;
      border: 1px solid #2cbff5;
    }
  }
  outline: none;
  .clear {
    clear: both;
  }
  p {
    line-height: 1.5;
  }
  .container {
    width: 1170px;
    margin: 0 auto;
  }


  .clearfix {
    overflow: hidden;
    clear: both;
  }
}


.header-top {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background: rgba(43, 47, 52, 0.6);
  position: fixed;
  width: 100%;
  height: 105px;
  z-index: 1000000;
}

.logo {
 margin: auto 48px;
  a{
    display: flex;
    background: url("../img/logo.png") center center no-repeat;
    width: 182px;
    height: 42px;
  }
}

.dropmenu {
  display: none;
}


.menutop {
  display: flex;
  li {
    margin-right: 35px;
    position: relative;
    &:hover {
      &:before {
        border: 1px solid #ff9b2f;
        width: 100%;
      }
      &:after {
        border: 5px solid #ff9b2f;
        width: 94%;
        filter: blur(10px);
        border-radius: 100%;
      }
    }
    &:before {
      position: absolute;
      content: '';
      border-top: none;
      transition: border-top 0.3s;

    }
    &:after {
      position: absolute;
      content: '';
      border-top: none;
      transition: border-top 0.3s;
      top:-3px;
    }
  }


    a {
      margin: auto;
  }
}

.contacts {
  display: flex;
  justify-content: space-between;
  .phonenumber {
    padding-left: 35px;
    position: relative;
    margin: auto 26px;
    &:before {
      position: absolute;
      content: '';
      background: url("../img/smallphoneicon.png") center center no-repeat;
      width: 16px;
      height: 27px;
      top:-5px;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
  .login {
    display: flex;
    border-right: 1px solid #32373c;
    border-left: 1px solid #32373c;
    a {
      margin: auto 25px;
    }
  }
  .btn {
    padding: 12px 26px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin: auto 30px;
    transition: all 0.3s;
    &:hover {
      background-color:#2cbff5;
      border: 1px solid #2cbff5;
    }
  }
}

.header {
  width: 100%;
  height: 956px;
  margin: auto;
  background: #282828 url("../img/bakcground-header.jpg") center center no-repeat;
  background-size: cover;
}

.container-head {
  width: 1170px;
  margin: 0 auto;
}


  h1 {
    padding: 210px 0 0 0;
  }

  .headertext {
    display: flex;
    font-family: 'Lato-Light', SansSerif;
    font-size: 30px;
    font-weight: lighter;
    color: #ffffff;
    margin-top: 29px;
  }

  .btn2 {
    width: 218px;
    font-family: 'Lato-Bold', SansSerif;
    font-size: 20px;
    font-weight: bold;
    background-color:#2cbff5;
    border: 1px solid #2cbff5;
    border-radius: 5px;
    padding: 24px 37px;
    margin: 35px 0 0 0;
    //&:hover {
    //
    //}
  }

  .bluetext {
    display: flex;
    font-family: 'Lato-Light', SansSerif;
    font-weight: lighter;
    font-size: 25px;
    color: #2cbff5;
    margin: 92px 0 0;
  }


  .menu {
    margin: 0;

    ul {
      display: flex;
      flex-flow: row nowrap;
      border-bottom: 1px solid #899ba1;
      li {
        display: flex;
        justify-content: space-around;
        margin: 0 100px 0 0;
        flex-basis: 140px;
        border: none;
        transition: all 0.3s;
        position: relative;
        &:last-child {
          margin-right:0;
          flex-basis: 160px;
        }
        &:hover {
          &:before {
            border: 5px solid #2cbff5;
            width: 100%;
            filter: blur(10px);
            border-radius: 100%;
          }
          &:after {
            border: 3px solid #2cbff5;
            width: 100%;
            border-radius: 3px;
            bottom: -3px;
          }
        }
        &:before {
          position: absolute;
          content: '';
          border-top: none;
          transition: border-top 0.3s;
          bottom: -1px;

        }
        &:after {
          position: absolute;
          content: '';
          border-top: none;
          transition: border-top 0.3s;
        }
      }
    }
  }
      .vehicle {
        display: flex;
        flex-flow: column wrap;
        font-family: 'Lato-Bold', SansSerif;
        font-weight: bold;
        font-size: 20px;
        color: #899ba1;
        padding: 30px 0 25px;
        text-align: center;
        transition: all 0.3s;
        &:before {
          content: '';
          background: url("../img/car.png") center center no-repeat;
          width: 79px;
          height: 41px;
          margin: auto auto 30px;
        }
        &:hover {
          color: #ffffff;
        }
        &:hover {
          &:before {
            background: url("../img/carhovandactive.png") center center no-repeat;
          }
        }
      }


      li {
        &:nth-child(2) {
          .vehicle {
            &:before {
              background: url("../img/motocycle.png") center center no-repeat;
              width: 60px;
              height: 40px;
            }
          }
        }

        &:nth-child(3){
          .vehicle {
            &:before {
              background: url("../img/trailer.png") center center no-repeat;
              width: 59px;
              height: 42px;

            }
          }
        }
        &:nth-child(4){
          .vehicle {
            &:before {
              background: url("../img/boat.png") center center no-repeat;
              width: 49px;
              height: 40px;
            }
          }
        }
        &:nth-child(5){
          .vehicle {
            &:before {
              background: url("../img/truck.png") center center no-repeat;
              width: 70px;
              height: 43px;

            }
          }
        }
        &:nth-child(6){
          .vehicle {
            &:before {
              background: url("../img/moreoptions.png") center center no-repeat;
              width: 65px;
              height: 49px;

            }
          }
        }
      }

      li {
        &:nth-child(2){
          .vehicle {
            &:hover {
              &:before {
                background: url("../img/motocyclehovandactive.png") center center no-repeat;
              }
            }
          }
        }
        &:nth-child(3){
          .vehicle {
            &:hover {
              &:before {
                background: url("../img/trailerhovandact.png") center center no-repeat;
              }
            }
          }
        }
        &:nth-child(4){
          .vehicle {
            &:hover {
              &:before {
                background: url("../img/boathovandactive.png") center center no-repeat;
              }
            }
          }
        }
        &:nth-child(5){
          .vehicle {
            &:hover {
              &:before {
                background: url("../img/truckhoverandactive.png") center center no-repeat;
              }
            }
          }
        }
        &:nth-child(6){
          .vehicle {
            &:hover {
              &:before {
                background: url("../img/moreoptionshoverandactive.png") center center no-repeat;
              }
            }
          }
        }
      }




  .watchwork{
    display: flex;
    font-family: 'Lato-Light', SansSerif;
    font-weight: lighter;
    font-size: 20px;
    color: #ffffff;
    margin: 95px 0 0 48px;
    &:after {
      content: '';
      background: url("../img/triangle.png") center center no-repeat;
      width: 12px;
      height: 14px;
      padding: 15px 15px 0;
    }
  }

  .container-content {
    width: 1170px;
    height: auto;
    margin: 125px auto 0;
  }
  h2 {
    font-family: 'Lato-Black', SansSerif;
    font-weight: normal;
    font-size: 45px;
    text-align: center;
    margin: 0 0 75px;
  }

  .experinblock {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 130px;
    background: #ffffff;
  }

  .expertsintext {
    display: flex;
    flex-flow: column wrap;
    width: 26%;
    height: auto;
    padding: 30px 40px 6px 45px;
    &:nth-child(odd) {
      background: #fafafa;
    }
    &:nth-of-type(1) {
      .smallvehicle {
        background: url("../img/smallcar.png") center center no-repeat;
        width: 48px;
        height: 38px;
      }
    }
    &:nth-of-type(2) {
      .smallvehicle {
        background: url("../img/smallmotocycle.png") center center no-repeat;
        width: 60px;
        height: 40px;
      }
    }
    &:nth-of-type(3) {
      .smallvehicle {
        background: url("../img/smallboat.png") center center no-repeat;
        width: 49px;
        height: 40px;
      }
    }
    &:nth-of-type(4) {
      .smallvehicle {
        background: url("../img/smalltruck.png") center center no-repeat;
        width: 70px;
        height: 43px;
      }
    }
    &:nth-of-type(5) {
      .smallvehicle {
        background: url("../img/smalltrailer.png") center center no-repeat;
        width: 59px;
        height: 42px;
      }
    }
    &:nth-of-type(6) {
      .smallvehicle {
        background: url("../img/smallatv.png") center center no-repeat;
        width: 63px;
        height: 40px;
      }
    }

    &:nth-of-type(7) {
      .smallvehicle {
        background: url("../img/smalltraktor.png") center center no-repeat;
        width: 54px;
        height: 39px;
      }
    }
    &:nth-of-type(8) {
      .smallvehicle {
        background: url("../img/smallheavytruck.png") center center no-repeat;
        width: 82px;
        height: 40px;
      }
    }
    &:nth-of-type(9) {
      .smallvehicle {
        background: url("../img/smallworld.png") center center no-repeat;
        width: 38px;
        height: 39px;
      }
    }
    &:hover h5{
      color: #2cbff5;
    }
    &:hover {
      box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.1);
      z-index: 10000;
    }
  }
  #first {
    display: none;
  }



    h5 {
      font-family: 'Lato-Black', SansSerif;
      font-weight: normal;
      font-size: 18px;
      color: #000;
      transition: color 0.3s;
      text-align: left;
      margin: 22px 0;

    }
    p {
      font-family: 'Lato-Light', SansSerif;
      font-weight: lighter;
      font-size: 20px;
      color: #5f6776;
      line-height: 1.5;
      margin: 0;
    }


    .block3 {
      background: #25292e;
      width: 100%;
      height: 530px;
      position: relative;
      &:before {
        position: absolute;
        content: '';
        background: url("../img/bakcground-trackpng.png") no-repeat;
        width: 1249px;
        height: 527px;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
      }
    }

.learn {
  display: flex;
  font-family: 'Lato-Regular', SansSerif;
  font-weight: normal;
  font-size: 16px;
  color: #2cbff5;
  margin-top: 5px;
  &:after {
    content:'';
    background: url("../img/hrefarrowblue.png") center center no-repeat;
    width: 5px;
    height: 9px;
    padding: 7px;
  }
}

    .part3 {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;


    .wecareabout {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      height: auto;
      width: 50%;
      h2 {
        display: flex;
        color: #ffffff;
        margin: 0;
        &:nth-child(2) {
          color: #ff9b2f;
        }
      }
      p {
        text-align: left;
      }
    }
    .prizes {
      display: flex;
      flex-flow: column wrap;
      justify-content: space-around;
      background: #fafafa;
      width: 415px;
      height: 530px;
      margin-right: 65px;
      transform: skewX(30deg);
      img {
        margin: auto;
        transform: skewX(-30deg);
      }
        }
    }

    .weoffer{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      h2 {
        font-family: 'Lato-Black', SansSerif;
        font-weight: normal;
        font-size: 45px;
        color: #000;
        width: 30%;
        margin: 0;
        span {
          color: #2cbff5;
        }
      }
      p {
        display: flex;
        width: 50%;
      }
    }

    .clientpacks {
      display: block;
      margin: 70px auto 30px;
      width: 100%;
      padding: 30px 0;
      height: auto;
    }


    .packs {
      display: inline-block;
      width: 180px;
      padding: 30px 40px 30px;
      border: 1px solid #f7f7f7;
      border-radius: 5px;
      box-shadow: 0 0 30px 12px rgba(0, 0, 0, 0.05);
      transition: all 0.3s;
      margin: 30px 10px;
      &:hover {
        box-shadow: none;
        background: #25292e;
      }
      &:hover a{
        background: #2cbff5;
      }
      &:hover h4{
        color: #ffffff;
      }
      &:hover .price{
        color: #ffffff;
      }
      h4 {
        text-align: center;
        transition: all 0.3s;
        letter-spacing: 2px;
        margin: 0 0 25px;
        padding: 0;
        color: #171a20;
        &:before {
          background: none;
        }
      }

    .price {
      display: block;
      font-family: 'Lato-Black', SansSerif;
      font-size: 50px;
      border-top: 1px solid #e4e4e4;
      border-bottom: 1px solid #e4e4e4;
      padding: 23px 0 23px;
      transition: all 0.3s;
      margin: 0 auto;
      text-align: center;
        sup {
          font-size: 30px;
        }
      }

    .aboutpack {
      display: flex;
      flex-flow: column;
      height: 310px;
      font-family: 'Lato-Medium', SansSerif;
      font-size: 16px;
      color: #9a9a9a;
      line-height: 2.8;
      text-align: center;
      border-bottom: 1px solid #e4e4e4;
      margin: 25px 0 0;
    }
      a {
        display: block;
        font-family: 'Lato-Semibold', SansSerif;
        background: #6e7681;
        width: 186px;
        text-align: center;
        padding: 19px 0;
        border-radius: 5px;
        margin: 25px auto;
        transition: all 0.3s;
        cursor: pointer;
        &:hover {
          background: #2cbff5;
        }
      }
    }

  .grey {
    background: #fafafa;
    height: auto;
    padding-bottom: 130px;
    &:before {
      background: none;
    }
    h2 {
      padding-top: 130px;
    }
    .viewall {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      font-family: 'Lato-Regular', SansSerif;
      font-size: 18px;
      color: #5e5e5e;
      margin-top: 30px;
    }
  }

  table {
    width: 100%;
    height: auto;
    border-spacing: 0 9px;
    th {
      font-family: 'Lato-Semibold', SansSerif;
      font-size: 20px;
      text-align: center;
      &:first-child {
        text-align: left;
        padding-left: 25px;
      }
      &:nth-child(2){
        text-align: left;
      }
    }
    tr {
      width: 100%;
      &:first-child {
        width: 22%;
      }
      td {
        width: auto;
        font-family: 'Lato-Light', SansSerif;
        font-size: 20px;
        font-weight: lighter;
        background: #ffffff;
        border-bottom: 5px solid #ebebeb;
        padding: 19px 0 18px;
        text-align: center;
        &:first-child {
          text-align: left;
          border-left: 5px solid #ff9b2f;
          padding-left: 25px;
          width: 21%;
        }
        &:nth-child(2){
          text-align: left;
        }
      }
    }
  }

  .block4 {
    width: 100%;
    height:auto;
    background: #25292e;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      background: url("../img/bakcground-trackblock.png") center center no-repeat;
      width: 379px;
      height: 100%;
    }
  }

  .part4 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 1170px;
    height: 100%;
    margin: 0 auto 120px;
    padding: 130px 0;
    .btn2 {
      display: flex;
      justify-content: center;
      padding: 28px 0;
      width: 306px;
      margin: -100px 0 auto;
    }
  }

  .aboutshipserv {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 30%;
    height: auto;
    p {
      color: #ffffff;
      margin-bottom: 40px;
    }

  }

  h3 {
    display: flex;
    font-family: 'Lato-Black', SansSerif;
    font-size: 35px;
    color: #ffffff;
    margin: 0 0 40px;
  }

  .clientpreference {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border-left: 1px solid #363c44;
    width: 56%;
    padding-left: 80px;
    margin: 0 0 0;
  }

  .aboutpref {
    display: flex;
    flex-flow: column wrap;
    width: 45%;
    p {
      color: #ffffff;
    }
  }
  h4 {
    padding-left: 43px;
    position: relative;
    &:before {
      position: absolute;
      content: '';
      background: url("../img/preficon.png") center center no-repeat;
      width: 28px;
      height: 28px;
      left:0;
    }
  }
.aboutpref {
  &:nth-child(2) {
    h4 {
      &:before {
        background: url("../img/preficon2.png") center center no-repeat;
        width: 29px;
        height: 29px;
      }
    }
  }
  &:nth-child(3) {
  h4 {
    &:before {
      background: url("../img/preficon3.png") center center no-repeat;
      width: 29px;
      height: 29px;
    }
  }
}
  &:nth-child(4) {
    h4 {
      &:before {
        background: url("../img/preficon4.png") center center no-repeat;
        width: 34px;
        height: 31px;
      }
    }
  }
}

.reviews {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

}
  .review {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    width: 30%;




  .reviewinfo {
    border:1px solid #ececec;
    border-radius: 5px;
    transition: all 0.3s;
    box-shadow: none;
    padding: 0 23px 25px;
    position: relative;
    &:hover {
      box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.1);
    }
    &:hover p{
      color: #171a20;
    }
    h4 {
      font-family: 'Lato-Semibold', SansSerif;
      font-size: 22px;
      color: #171a20;
      padding-left: 0;
      margin: 23px 0;
      &:before {
        background: none;
      }
    }

    p {
      color: #5f6776;
      transition: color 0.3s;
      line-height: 1.5;
    }
    .triangle {
      position: absolute;
      width: 29px;
      height: 29px;
      background: #ffffff;
      transform:rotate(45deg);
      top: 94%;
      bottom: 0;
      left: 8%;
      right: 0;
      border:1px solid #ececec;
      &:before {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 29px 29px 29px;
        border-color: transparent transparent #ffffff transparent;
        top: -13px;
        bottom: 0;
        left: -21px;
        right: 0;
        transform:rotate(-45deg);
      }
    }
  }
  }

  .reviewscustomer {
    display: flex;
    flex-flow: row wrap;
    margin: 35px 0 0;

    .customerinfo {
      display: flex;
      flex-flow: column wrap;
      margin-left: 15px;
      .name {
        font-family: 'Lato-Semibold', SansSerif;
        font-size: 20px;
        color: #171a20;
        margin-bottom: 13px;
      }
      .from {
        font-family: 'Lato-Light', SansSerif;
        font-size: 14px;
        color: #9c9c9c;
        margin-bottom: 10px;
      }
    }
  }

  .rating {
    display: flex;
    width: auto;
    height: auto;
    .ratingreviews {
      background: url("../img/ratingstar.png") center center no-repeat;
      width: 15px;
      height: 14px;
      margin: 0 5px 0 0;
    }
  }

.container-expirience {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 1170px;
  height: 285px;
  margin: 130px auto 0;
}
.expirblock {
  margin: auto 0;
  &:nth-child(2) {
    .expir {
      background: url("../img/expicon2.png") center center no-repeat;
      width: 68px;
      height: 68px;
    }
  }
  &:nth-child(3) {
    .expir {
      background: url("../img/expicon3.png") center center no-repeat;
      width: 68px;
      height: 68px;
    }
  }

  .expir {
    display: block;
    background: url("../img/expicon1.png") center center no-repeat;
    width: 68px;
    height: 68px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    margin: 0 auto 12px;
  }
  span {
    display: block;
    font-family: 'Lato-Semibold', SansSerif;
    font-size: 25px;
    color: #171a20;
    margin: 12px auto;
    text-align: center;
    &:last-child {
      font-family: 'Lato-Light', SansSerif;
      font-size: 18px;
    }
  }
}

.block5 {
  width: 100%;
  height:485px;
  background: #25292e  url("../img/bbackgroundlock5.png") center center no-repeat;
  position: relative;
  margin: 0;
  &:before {
    background: none;
  }
}

.part5 {
  margin: auto;
  height:485px;
  display: flex;
}
  .customnow {
    padding: 0 4px 15px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin: auto;
  h2 {
    color: #ffffff;
  }
  form {
   text-align: center;
    margin: 0 auto;

  }
  input[type='text'] {
    display: block;
    width: 232px;
    height: 48px;
    border: none;
    background: none;
    border-bottom: 1px solid #ffffff;
    font-family: 'Lato-Light', SansSerif;
    font-size: 25px;
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
  }
  input[type='submit'] {
    display: block;
    width: 305px;
    height: 70px;
    background-color:#2cbff5;
    border: 1px solid #2cbff5;
    border-radius: 5px;
    font-family: 'Lato-Bold', SansSerif;
    font-size: 20px;
    transition: all 0.3s;
    color: #ffffff;
    margin-top: 40px;
    cursor: pointer;
    //&:hover {
    //  background-color:#2cbff5;
    //  border: 1px solid #2cbff5;
    //}
  }
}
  .atlas {
    background:#fafafa;
    width: 100%;
    height: auto;
  }

  .part6 {
    background: url("../img/atlas.png") center center no-repeat;
    margin:auto;
    background-size: contain;
    width: 100%;
    height: 773px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    position: relative;

    h3 {
      display: flex;
      width: 40%;
      text-align: left;
      font-size: 40px;
      color: #171a20;
      margin: 48px 0;
      }
    .zipspart {
      display: flex;
      flex-flow: column wrap;
      width: 353px;
      height: auto;
      padding:35px 0;
      border: 1px solid #ffffff;
      border-radius: 5px;
      background: #ffffff;
      margin: auto 0;
      h4 {
        display: inline-block;
        font-size: 22px;
        color: #171a20;
        padding: 0;
        margin: auto auto 40px;
        &:before {
          background: none;
        }
      }
    }
  }

  .zips {
    text-align: center;
    margin: 0 40px;

    a {
      display: inline-block;
      font-family: 'Lato-Light', SansSerif;
      font-size: 20px;
      color: #6c6c6c;
      transition: all 0.3s;
      margin-bottom:35px ;
      &:hover {
        color: #2cbff5;
        text-decoration: underline;
      }
    }
  }


.mappart {
  position: relative;
  width: 100%;
  .point {
    display: block;
    background: url("../img/point.png") center  center no-repeat;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 247%;
    right: 0;
    bottom: 0;
    left: 28.8%;
  }
}

.mappart {
  &:nth-child(3) {
    .point {
      top: 140%;
      right: 0;
      bottom: 0;
      left: 31%;
    }
  }
}

    .cells {
      display: flex;
      flex-flow: column wrap;
      border:1px solid #ffffff;
      border-radius: 5px;
      background: #ffffff;
      position: relative;
      padding: 17px 0;
      box-shadow: none;
      transition: all 0.3s;
      &:hover {
        box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.1);
      }
    }


  .one {
    display: none;
    width: 90px;
    p {
      font-family: 'Lato-Medium', SansSerif;
      font-size: 12px;
      color: #3e3e3e;
      &:last-child {
        font-family: 'Lato-Regular', SansSerif;
        font-size: 14px;
        color: #9c9c9c;
      }
    }
  }
  .two {
    position: absolute;
    width: 154px;
    border-left: 4px solid #2cbff5;
    right: 61.5%;
    bottom: 23%;
    .triangle {
      position: absolute;
      width: 16px;
      height: 16px;
      background: #ffffff;
      transform:rotate(45deg);
      top: -12%;
      bottom: 0;
      left: 41%;
      right: 0;
      border:1px solid #ffffff;
    }
    p {
      font-family: 'Lato-Medium', SansSerif;
      font-size: 14px;
      color: #3e3e3e;
      margin-left: 20px;
      &:nth-of-type(1) {
        font-size: 11px;
        color: #2cbff5;
      }
    }
  }

  .part7 {
    margin: 130px auto;
    h2 {
      text-align: center;


      .bluetext {
        display: inline;
        margin: 0;
        font-size: 40px;
        font-family: 'Lato-Black', SansSerif;

      }
    }
    .textanimblock {
      height: 178px;
      overflow:hidden;
      transition: height .5s;
      position: relative;
      &:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 75px;
        box-shadow: 0 0 150px 75px #ffffff;
        top: 100%;
      }
      p {
        line-height: 1.5;
      }
    }

    a {
      display: flex;
      color: #98a1b3;
      margin: 20px auto 0;
      justify-content: center;
      &:hover span{
        transform: rotate(0deg);
      }
      span {
      transform: rotate(180deg);
      transition: all 0.3s;
      }
    }
  }


  .footer {
    width: 100%;
    background: #25292e;
  }
  .container-foot {
    display: flex;
    width: 1170px;
    height: auto;
    margin: auto;
    flex-flow: row wrap;
    justify-content: space-between;
  }

    .logoblock {
      display: flex;
      flex-flow: row wrap;
      margin: 90px 0 0;
      width: 20%;
      .logo {
        margin: 0;
      }
      p {
        margin-top: 40px;
        text-align: left;
      }
    }


.footermenu {
  width: 70%;
  color: #ffffff;
  font-size: 18px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 90px  0;
}
  .footernav {
    display: flex;
    flex-flow: column wrap;
    margin: 0;
    h5 {
      color: #ffffff;
      font-family: 'Lato-Bold', SansSerif;
      font-weight: bold;
      margin: 10px 0 40px;
    }
    ul {
      display: inline-block;
      li {
        list-style: none;
        margin-bottom: 30px;
        a {
          font-family: 'Lato-Medium', SansSerif;
          color: #65717f;
          font-size: 16px;
          transition: color 0.3s;
          &:before {
            content: '';
          }
          &:hover {
            color: #2cbff5;
          }
        }
      }
    }
  }

  .footerdark {
    background: #1f2226;
  }

  .container-dark {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    height: auto;
    font-family: 'Lato-Light', SansSerif;
    color: #414851;
    font-size: 16px;
    margin: auto;
    padding: 24px 0;
    span {
      display: flex;
      flex-flow: row wrap;
    }
    a {
      display: flex;
      flex-flow: row wrap;
      font-family: 'Lato-Regular', SansSerif;
      font-size: 18px;
      text-decoration: none;
      transition: all 0.3s;
      &:hover {
        color: #6f7c8d;
        text-decoration: underline;
      }
    }
  }
//TODO: header of template1 page

  .template_one {
    width: 100%;
    height: 650px;
    background-size: cover;
    background: #282828 url("../img/bbackgroundtemplate1.png") center center no-repeat;
}

  .template_one{
    .container-head {
      margin: auto;
      width: 100%;
      text-align: center;

    h1 {
      display: block;

    }
    .headertext{
      display: block;
      margin: 0;

    }
    .btn2 {
      display: block;
      margin: 30px auto 20px;
    }
    span {
      display: block;
      font-family: 'Lato-Light', SansSerif;
      font-size: 18px;
      color: #6d7582;
     }
    }
  }

  .temppref {
    display: flex;
    justify-content: center;
    margin: 140px 0 25px;
  }
    .check {
      font-family: 'Lato-Light', SansSerif;
      color: #ffffff;
      font-size: 22px;
      position: relative;
      padding-left: 36px;
      margin: 0 33px 0;
      &:before {
        position: absolute;
        content: '';
        background: url("../img/check.png") center center no-repeat;
        width: 16px;
        height: 13px;
        top:4px;
        left: 10px;
      }
    }


//TODO : template1 contentblock

    .howtoship {
      float: left;
      width: 67%;
      margin: 0;
      h2 {
        text-align: left;
        margin: 0 0 30px;
      }
      hr {
       width: auto;
       border:1px solid #eeeeee;
        margin-bottom: 25px;

      }
      h4 {
        display: flex;
        color: #171a20;
        font-size: 25px;
        padding-left: 0;
        &:before {
          background: none;
        }
      }
      p {
        text-align: justify;
      }
    }

.similarart {
  float: right;
  width: 27%;
  background: #fafafa;
  height: auto;
  padding: 0 4px 15px;
  h4 {
    color: #171a20;
    font-size: 25px;
    padding-left: 0;
    text-align: center;
    &:before {
      background: none;
    }
  }
  a {
    padding: 0 30px;
    color: #7f7f7f;
    font-size: 18px;
    text-align: left;
    margin: 10px 0;
  }
}


//TODO : temlate2 page

.template_two {
  background: url("../img/bbackgroundtemplate2.png") center center no-repeat;
  width: 100%;
  height: 650px;
  background-size: cover;
  form {
    margin-top: 60px;
    input[type="text"] {
      width: 338px;
      height: 58px;
      padding: 0 30px;
      border-radius: 5px;
      border: 1px solid #f5f2ef;
      background: #f5f2ef;
      font-family: 'Lato-Light', SansSerif;
      font-size: 22px;
      color: #899ba1;
      margin-right: 20px;
    }
    input[type="submit"] {
      height: 60px;
      width: 263px;
      text-align: center;
      border-radius: 5px;
      background: #2cbff5;
      border: 1px solid #2cbff5;
      font-family: 'Lato-Bold', SansSerif;
      font-size: 18px;
      color: #ffffff;
      transition: all 0.3s;
      cursor: pointer;
      //&:hover {
      //
      //}
    }
  }

  span {
    display: block;
    width: 1100px;
    text-align: right;
    margin: 10px  auto 0;
  }
}


.templ_two {
  background: #ffffff;
}


.temppart {
  .wecareabout {
    h2 {
      color: #171a20;
    }
    p {
      color: #171a20;
    }
  }
 }





//TODO: template3 page

.template_three {
  background: url("../img/bbackgroundtemplate3.png") center center no-repeat;
  width: 100%;
  height: 950px;
  background-size: cover;
}


  .temp3headerleft {
    margin: 230px 0 0 48px;
    display: block;
    float: left;
    width: 40%;
    padding-top: 55px;

    h2 {
      display: block;
      color: #ffffff;
    }

    p {
      display: block;
      color: #abb9ca;
      font-size: 22px;
      margin-top: 30px;
      text-align: justify;
    }
    ul  {
    display: block;
    margin-top: 45px;
      li {
      margin-bottom: 40px;
        a {
          color: #ffffff;
          font-size: 22px;
          i {
            color: #f0922e;
          }
        }
      }
    }
  }

  .temp3headerright {
    margin: 230px 120px 0 0;
    float: right;
    width: 25%;
    height: auto;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background: #ffffff;
    padding: 0 50px;
    h2 {
      color: #000;
      margin-top: 50px;
      text-align: center;
      margin-bottom: 0;
    }
    p {
      font-family: 'Lato-Regular', SansSerif;
      font-size: 18px;
      color: #8b8b8b;
    }
    form {
      margin-top: 30px;
      input[type="text"] {
        font-family: 'Lato-Regular', SansSerif;
        font-size: 20px;
        display: block;
        width: 310px;
        border: none;
        border-bottom: 1px solid #d8d8d8;
        border-radius: 0;
        padding: 0;
        text-align: center;
        margin: 0 auto 25px;
        background: none;
      }
      input[type="submit"] {
        margin: auto;
        background: #2cbff5;
        border: 1px solid #2cbff5;
        cursor: pointer;
      }

    }
    span {
      margin: 17px 0 40px 0;
      text-align: center;
    }
  }

  //TODO: template2, template3  content block "How to Do"
.howtowork {
  background: #fafafa;
  width: 100%;
  height: auto;
  padding-top: 130px;
  padding-bottom: 130px;
}
.howtodo {
  background: #fafafa;
  margin-top: 0;
  h2{
    margin-bottom: 20px;
  }
}

.borderblock {
  position: relative;
  height: auto;
  width: auto;
  padding-bottom: 130px;

  .border {
    position: absolute;
    width: 50%;
    height: 60px;
    border-right: 2px solid  #e8e8e8;
    border-bottom: 2px solid  #e8e8e8;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: -5px;
    border-top-right-radius: 0;
    margin-left: 3px;
    &:nth-child(3) {
      top: 62px;
      width: 65.3%;
      height: 514px;
      border-left: 2px solid  #e8e8e8;
      border-bottom: 2px solid  #e8e8e8;
      border-right: none;
      border-radius: 5px 5px 0 5px;
      margin-left: 0;
      margin-top: -2px;
    }
    &:nth-child(4) {
      top: 576px;
      width: 65%;
      height: 536px;
      border-bottom: 2px solid #e8e8e8;
      border-right: 2px solid #e8e8e8;
      border-radius: 5px 5px 5px 0px;
      margin-top: -2px;
      margin-left: 6px;
    }
    &:nth-child(5) {
      top: 1112px;
      width: 711px;
      height: 180px;
      border-bottom: none;
      border-left: 2px solid #e8e8e8;
      border-right: none;
      border-radius: 5px;
      border-bottom-left-radius: 0;
      margin-top: -2px;
    }
  }
}

.instructionblock {
  margin: 0 35px;
  display: flex;
  flex-flow: column  wrap;
  height: auto;
}

.instruction {
  margin-top:130px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  .textblock {
    width: 35%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    position: relative;
    .num {
      position: absolute;
      top: 77px;
      left: -46px;
      height: 70px;
      width: 30px;
      background: #fafafa;
      .number {
        color: #ffffff;
        border: 1px solid #38c2f5;
        width: 28px;
        height: 18px;
        text-align: center;
        background: #38c2f5;
        border-radius: 50px;
        padding: 5px 0 5px;
        margin: 20px 0;
      }
    }

    h3 {
      color: #171a20;
    }
  }
  .screenblock {
    background: url("../img/howtodoscreen1.jpg") center center no-repeat;
    width: 644px;
    height: 367px;
    &:nth-child(3) {
      background: url("../img/howtodoscreen2.jpg") center center no-repeat;
      width: 503px;
      height: 281px;
    }
  }
}
  .instruction {
    &:nth-child(2) {
      margin-top:160px;
      .textblock {
        margin-right: -55px;
        padding-top: 90px;
      }
      .num {
        left: -52px;
      }
      .screenblock {
          background: url("../img/howtodoscreen2.jpg") center center no-repeat;
          width: 503px;
          height: 281px;
      }
    }
    &:nth-child(3) {
      margin-top:165px;
      .screenblock {
        background: url("../img/howtodoscreen3.jpg") center center no-repeat;
        width: 644px;
        height: 367px;
      }
    }
      &:nth-child(4) {
         margin-top:140px;
        .textblock {
          margin-right: -48px;
          padding-top: 50px;
        }
        .screenblock {
          background: url("../img/howtodoscreen4.jpg") center center no-repeat;
          width: 644px;
          height: 367px;
        }
      }
  }

  .temppart {
    margin-top: 0;
  }


//TODO: supportcenter page


.support {
  background: url("../img/backgroundsupportcenter.jpg") center center no-repeat;
  width: 100%;
  height: 658px;
  .container-head {
    h1 {
      .orange {
        display: inline-block;
        font-family: 'Lato-Black', SansSerif;
        color: #ff9b2f;
        font-size: 60px;
        margin: 0;
      }
    }
    span {
      font-size: 25px;
      color: #899ba1;
      margin: 23px 0 38px;
    }
  }
  input[type="text"] {
    width: 1090px;
    height: 60px;
    border-radius: 5px 0 0  5px;
    color: #ffffff;
    border: none;
    padding-left: 25px;
    font-family: 'Lato-Light', SansSerif;
    font-size: 22px;
    color: #899ba1;
  }
  button {
    border-radius: 0 5px 5px 0;
    border: none;
    background:#ffffff url("../img/searchicon.png") center center no-repeat;
    width: 60px;
    padding:  39px 0 23px;
    margin-left: -4px;
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
      background:#2cbff5 url("../img/searchiconbyhover.png") center center no-repeat;
    }
  }
  .searhtags {
   display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 11px 105px;
    a {
      font-family: 'Lato-Light', SansSerif;
      font-size: 20px;
      color: #3f494d;
      transition: color 0.3s;
      &:hover {
        color: #ffffff;
      }
    }
  }
}
//TODO:supportcenter page content
.greyhrefs {
  width: 100%;
  background: #fafafa;
  height: auto;
  .container-content {
    margin: 0;
    margin-left: 48px;
    a {
      display: inline-block;
      font-size: 16px;
      color: #a1a0a0;
      padding: 17px 0;
    }
  }
}
.supports {
  margin-top: 60px;
}
.howtoship {
  h2 {
    margin: 0 0 20px;
  }
  h4 {
    margin:44px 0 15px;
  }
  .learn {
    margin: 14px 0 32px;
  }
}

.suppart {
  height: auto;
  background: none;
}

.article {
  margin: 0 auto;
  text-align: center;
  width: 221px;
  padding: 17px 51px 40px;
  background: #fafafa;

.roundicon {
  width: 44px;
  height: 44px;
  border-radius: 50px;
  background: #2cbff5 url("../img/rocket.png") center center no-repeat;
  margin:0 auto 20px;
}
  h5 {
    font-size: 20px;
    text-align: center;
    margin: 0 0 15px;
  }
  p {
    line-height: 1.5;
  }
.learn {
  font-size: 18px;
  justify-content: center;
  color: #2cbff5;
  margin: 15px 0 0;

}
}

.article {
  &:nth-child(1) {
    padding-top: 55px;
  }
  &:nth-child(2) {
    .roundicon {
      background: #2cbff5 url("../img/bus.png") center center no-repeat;
    }
  }
  &:nth-child(3) {
    .roundicon {
      background: #2cbff5 url("../img/dollar.png") center center no-repeat;
    }
  }
  &:nth-child(4) {
    .roundicon {
      background: #2cbff5 url("../img/affiliates.png") center center no-repeat;
    }
  }
}

.readytoship {
  margin-top: 30px;
  background:  #fafafa;
  width: 100%;
  padding: 35px 4px 15px;
  h3{
    color: #171a20;
    font-size: 30px;
    justify-content: center;
    margin-bottom: 21px;
  }
  input[type="text"]{
    color: #aeaeae;
    border-bottom: 1px solid #aeaeae;
  }
  input[type="submit"] {
    width: 225px;
    padding: 0;
    margin: 40px auto;
    cursor: pointer;
  }

}


//TODO:contactus block
.contactus {
  width: 100%;
  height: auto;
  background: #23a6d1;
  .container-content {
    text-align: justify;
    h2 {
      color: #ffffff;
      padding-top: 115px;
      margin-bottom: 48px;
    }
  }
}

.contdata {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-bottom: 132px;
  margin: 0 35px;
  a {
    display: inline-block;
    color: #ffffff;
    font-size: 25px;
    font-family: 'Lato-Light', SansSerif;
    flex-flow: column wrap;
    .conticons {
      background: url("../img/email.png") center center no-repeat;
      width: 62px;
      height: 62px;
      margin: 0 auto 20px auto;
    }
    &:nth-child(2) {
      margin-right: 70px;
      .conticons {
        background: url("../img/phonecall.png") center center no-repeat;
        width: 48px;
        height: 62px;

      }
    }
    &:nth-child(3) {
      .conticons {
        background: url("../img/chat.png") center center no-repeat;
        width: 68px;
        height: 62px;

      }

    }
  }
}

//TODO: ourservices page

.ourserv {
  background: url("../img/backgroundourservices.png") center center no-repeat;
  width: 100%;
  height: 660px;
  h1{
    padding: 181px 0 0 0;
  }
  .bluetext {
    color: #899ba1;
    font-size: 25px;
    margin:25px 150px 0;
  }
  .btn{
    width: 270px;
    padding: 25px 33px;
    margin: 43px auto 20px;
    background-color:#2cbff5;
    border: 1px solid #2cbff5;
  }
}

.ourservices {
  margin-top: -200px;

  .expertsintext {
    &:nth-child(even) {
      background: #ffffff;
    }
  }
}

//TODO:shippingfromauctions block


.shippingfromauctions {
  width: 100%;
  height: auto;
  background: #fafafa;
  padding-bottom: 90px;

  .container-content {
    margin: 68px auto 0;

    h2 {
      padding-top: 124px;
      letter-spacing: 1px;
      margin-bottom: 27px;
    }
    .bluetext {
      text-align: center;
      font-size: 25px;
      color: #5f6776;
      margin-top: 0;
    }
  }
}

.auctios {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 45px auto;

}

.auctionblock {
  width: 21%;
  height: auto;
  background: #ffffff;
  border:1px solid #e8e8e8;
  border-radius: 5px;
  text-align: center;
  padding: 0 15px;
  .auctlogo {
    background: url("../img/auct1.jpg") center center no-repeat;
    width: 183px;
    height: 85px;
    margin:15px auto 7px;
  }
  h5 {
    font-size: 20px;
    color: #171a20;
    text-align: center;
    margin: 0 auto 20px;
  }
  P {
    text-align: center;
    font-size: 20px;
    color: #5f6776;
  }
  .learn {
    justify-content: center;
    margin-bottom: 16px;
  }
}

.auctionblock {
  &:nth-child(2) {
    .auctlogo {
      background: url("../img/auct2.jpg") center center no-repeat;
      width: 117px;
    }
  }
  &:nth-child(3) {
    .auctlogo {
      background: url("../img/auct3.jpg") center center no-repeat;
      width: 126px;
    }
  }
  &:nth-child(4) {
    .auctlogo {
      background: url("../img/auct4.jpg") center center no-repeat;
      width: 212px;
    }
  }
}

//TODO: shipforbusiness block

.businesses {
  width: 1170px;
  margin: 0 auto;
  padding-bottom: 110px;

  h2 {
    padding-top: 134px;
    letter-spacing: 1px;
    margin-bottom: 27px;
  }
  .bluetext {
    text-align: center;
    font-size: 25px;
    color: #5f6776;
    margin-top: 0;
  }
}

.businessesservices {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 40px;

  .aboutshipforbusin {
    display: inline-block;
    text-align: center;
    width: 42%;
    border: 10px solid #e8e8e8;
    padding: 0 29px;
    .businicon {
      background: url("../img/locationicon.png") center center no-repeat;
      width: 22px;
      height: 30px;
      text-align: center;
      margin: 25px auto 15px;
    }
    h4 {
      text-align: center;
      color: #171a20;
      padding-left: 0;
      font-size: 25px;
      margin: 0 0 17px;
      &:before {
        background: none;

      }
    }
    .learn {
      justify-content: flex-end;
      margin: 20px 0;
    }
  }
}

.aboutshipforbusin {
  &:nth-child(2) {
    .businicon {
      background: url("../img/star.png") center center no-repeat;
      width: 29px;
    }
  }
}

//TODO:howtoshiptoalaska page

#map {
  margin-top: 50px;
  box-shadow: 0 0 50px 20px rgba(0, 0, 0, .1);
  .gmnoprint {
    display: none;
  }
  .gm-style-cc {
    display: none;
  }
}

.toalaska {
  float: right;
  width: 27%;
}

//TODO:How To Works page

.howtousesteps {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 50px;
  .step {
    position: relative;
    &:nth-child(1) {
      &:after {
        position: absolute;
        top: 27%;
        left: 185px;
        content: '';
        border-top: 1px solid #6f7d8c;
        width: 295px;
        height: 1px;
      }
    }
    &:nth-child(2) {
      &:after {
        position: absolute;
        top: 27%;
        left: 215px;
        content: '';
        border-top: 1px solid #6f7d8c;
        width: 295px;
        height: 1px;
      }
      .stepicon {
        background: url("../img/papers.png") center center no-repeat;
      }
    }
    &:nth-child(3) {
      .stepicon {
        background: url("../img/checklist.png") center center no-repeat;
        width: 67px;

      }
    }
    .stepnumber {
      font-size: 20px;
      color: #758594;
      font-family: 'Lato-Light', SansSerif;
      margin-right:80px;
      margin-bottom: -10px;
    }

    .stepicon {
      background: url("../img/paperfly.png") center center no-repeat;
      width: 54px;
      height: 63px;
      margin: auto;
    }
    span {
      color: #ffffff;
    }
  }
}

//TODO:borderblock2

.borderblock2 {
  position: relative;
  height:auto;
  width: auto;
  padding-bottom: 105px;

  .border {
    position: absolute;
    width: 64.9%;
    height: 300px;
    border-left: 2px solid  #e8e8e8;
    border-bottom: 2px solid  #e8e8e8;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: -5px;
    border-top-right-radius: 0;
    margin-left: 3px;
    top: 145px;
    &:nth-child(3) {
      top: 447px;
      width: 65.2%;
      height: 510px;
      border-right: 2px solid  #e8e8e8;
      border-bottom: 2px solid  #e8e8e8;
      border-left: none;
      border-radius: 0 5px 5px 0;
      margin-right: 0;
      margin-top: -2px;
    }
    &:nth-child(4) {
      top: 956px;
      width: 64.8%;
      height: 495px;
      border-bottom: 2px solid #e8e8e8;
      border-left: 2px solid #e8e8e8;
      border-radius: 5px 5px 0 5px;
      margin-top: -2px;
      margin-right: 6px;
    }

    &:nth-child(5) {
      top: 1450px;
      width: 65%;
      height: 550px;
      border-bottom: none;
      border-right: 2px solid #e8e8e8;
      border-left: none;
      border-radius: 5px;
      border-bottom-left-radius: 0;
      margin-top: -2px;
      border-bottom-right-radius: 0;
    }
  }
  .instruction {
    &:first-child {
      margin-top: 0;
    }
  }
}

.howtowork {
  span {
    display: block;
    color: #171a20;
    font-size: 30px;
    text-align: right;
    width: 65%;
    padding-right: 20px;

  i {
    display: inline-block;
    color: #38c2f5;
    margin-left: 20px;
  }
 }
}

.howtoworkspage {
  margin-top: 0;
}
//TODO:helppage

.helppage {
  float: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 1170px;
  margin: 120px auto 130px;
  .hp {
    background: #ffffff;
    padding: 0;
    margin: 0;
    width: 18%;
  }
}


.artcl {
  margin-top: 130px;
}
.poparticles {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  h4 {
    color: #171a20;
    &:before {
      background: url("../img/star.png") center center no-repeat;
      width: 16px;
      height: 15px;
    }
  }
  .learn {
    margin-top: 0;
    margin-bottom: 22px;
    &:last-child {
      margin-bottom: 0;
    }
    &:after {
      background: none;
    }
  }
}


//TODO : START ABOUT PAGE

.about_us {
  .text {
    padding: 190px 0 130px 0;
    text-align: left;
    background: url(../img/back_about_1.png) top center no-repeat;
    background-size: cover;
    h2 {
      text-align: left;
      color: #fff;
      font-family: "Lato-Black";
      font-size: 65px;
      margin: 0;
      padding: 0px 0px 20px 0;
      span {
        color: #ff9b2f;
      }
    }
    p {
      font-family: "Lato-Light";
      color: #899ba1;
      font-size: 30px;
      padding: 10px 0;
    }
  }
}
.our_mession {
  padding: 130px 0px 0px 0px;
  h2 {
    margin: 0;
    padding: 0px 0px 30px 0px;
    font-family: "Lato-Black";
    font-size: 50px;
    color: #000;
  }
  .block_col_3 {
    text-align: center;
    width: 33.33333333333%;
    float: left;
    padding: 0px 80px;
    h6 {
      padding: 10px 0;
      text-transform: uppercase;
      font-size: 20px;
      color: #000;
      font-family: "Lato-Black";
    }
    p {
      font-family: "Lato-Light";
      font-size: 20px;
      color: #5f6776;
    }
  }
}
.image_p {
  display: flex;
  padding: 50px 0;
  .block_2 {
    overflow: hidden;
    width: 50%;
    float: left;
    height: 620px;
  }
  .block_el {
    height: 310px;
    float: left;
    width: 50%;
    overflow: hidden;
  }
  // img {
  //   width: 100%;
  //   height: auto;
  // }
}

.our_story {
  ul {
    display: block;
  }
  li {
    display: block;
    padding: 15px 0px;
  }
  .left_story {
    h2 {
      margin: 0 0 40px 0;
    }
    width: 50%;
    float: left;
    h2 {
      font-family: "Lato-Black";
      font-size: 50px;
      color: #000;
      text-align: left;
    }
    a {
      color: #5f6776;
      font-family: "Lato-Light";
      font-size: 20px;
      padding-left: 25px;
      line-height: 26px;

    }
    span {
      display: block;
      width: 26px;
      height: 26px;
      border-radius: 50%;
      border: 1px solid #c8c8c8;
      color: #c8c8c8;
      text-align: center;
      line-height: 26px;
      float: left;
    }
    .active {
      a {
        color: #2cbff5;
      }
      span {
        border: 1px solid #2cbff5;
        color: #2cbff5;
      }
    }
  }
}

.right_story {
  width: 50%;
  float: left;
  .content_story {
    min-height: 500px;
    padding: 25px;
    background: url(../img/back_story.png) center center no-repeat;
  }
  .text_content {
    display: none;
    background: white;
    padding: 25px;
    &:first-child {
      display: block;
    }
    h6 {
      padding-bottom: 10px;
      font-family: "Lato-Black";
      font-size: 25px;
      color: #000;
    }
    p {
      padding: 10px 0;
      color: #5f6776;
      font-family: "Lato-Light";
      font-size: 20px;
    }
  }
}

.legal_stuff {
  padding: 50px 0;
}

.stuff_container {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  .item_stuff {
    margin-top: 60px;
    width: 510px;
    padding: 40px 50px 40px 100px;
    box-shadow: 0px 0px 35px -4px rgba(0, 0, 0, .2);
    position: relative;
  }
  .top_item {
    width: 110px;
    height: 110px;
    position: absolute;
    left: -35px;
    top: -35px;
    box-shadow: 0px 0px 35px -4px rgba(0, 0, 0, .2);
    background-color: white;
    text-align: center;
    line-height: 165px;
  }
}

.scroll_block {
  width: 100%;
  height: 615px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


.contact_us {
  span {
    font-family: "Lato-Light";
    font-size: 20px;
    color: #5f6776;
  }
  ul {
    padding: 40px 0px 0px 0px;
    display: block;
  }
  li {
    display: block;
    float: none;
    padding: 15px 0;
  }
  h2 {
    font-family: "Lato-Black";
    font-size: 50px;
    color: #000;
    text-align: center;
    padding: 20px;
    margin: 0;
  }
  padding: 50px 0;
  #map {
    box-shadow: 10px 10px 36px 0px rgba(62,199,246, .5);
    .gmnoprint {
      display: none;
    }
    .gm-style-cc {
      display: none;
    }

  }
  .block_2 {
    width: 50%;
    float: left;
    padding: 20px 15px;
  }
}


//TODO : END ABOUT PAGE


@import "_media.scss";
